<!-- Header -->
<header class="bg-white shadow-sm">
  <div class="flex items-center justify-between px-6 py-4 md:justify-end">
    <!-- Sidebar Toggle Button -->
    <button
    (click)="onClickSidebarToggle()"
      id="sidebar-toggle"
      class="text-gray-600 focus:outline-none md:hidden"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
    <!-- Logo -->
    <div class="text-xl font-bold md:hidden">
      <span>Career</span><span class="text-sky-500">Sync</span>
    </div>
    <!-- Profile -->
    <div class="flex items-center">
      <div class="w-8 h-8 overflow-hidden rounded-full">
        <img
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="Profile"
        />
      </div>
    </div>
  </div>
</header>
