<div
  id="sidebar"
  class="bg-white shadow-lg w-64 fixed h-full transition-all duration-300 transform -translate-x-full md:translate-x-0 z-40"
>
  <div class="p-4 border-b border-gray-200">
    <h1 class="flex items-center space-x-2 text-2xl font-bold">
      <img src="images/logo.png" alt="CareerSync Logo" class="w-8 h-8" />
      <span> Career<span class="text-sky-500 font-bold">Sync</span> </span>
    </h1>
  </div>
  <nav class="mt-6">
    <a
      href="index.html"
      class="flex items-center px-6 py-3 text-gray-700 bg-gray-100 border-l-4 border-blue-500"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        ></path>
      </svg>
      <span class="mx-3">Dashboard</span>
    </a>
    <a
      href="add-job.html"
      class="flex items-center px-6 py-3 text-gray-600 hover:bg-gray-100 hover:text-gray-700 transition-colors duration-200"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
      <span class="mx-3">Add Application</span>
    </a>
  </nav>
</div>
